{% extends 'projects/manage_base.html' %}
{% block content %}
<form class='col-8 mt-4 pe-5'>
	<div class='row mb-4 fw-bold'>
		<div class='col-4'>
			Sample
		</div>
		<div class='col'>
			Description
		</div>
	</div>
	{% for sample in samples %}
		<div class='row'>
			<div class='col-4'>
				{{ sample.sample_id }}
			</div>
			<div class='col'>
				{{ sample.description }}
			</div>
		</div>
		<hr>
	{% endfor %}
</form>


<div class='position-fixed' style='right:16%; max-width: 25%;'>
	<form class='mt-4' method='post'>
		{% csrf_token %}
		<label class='h6'>Filter</label>
		<div class="input-group input-group-sm mb-3">
			<input type="text" name='query' class="form-control" placeholder="search">
			<button class="btn btn-outline-dark" name='filter_samples' type="submit"><i class="bi bi-search"></i></button>
		</div>
	</form>
</div>

{% endblock %}